body {
	&._lock {
		overflow: hidden;
	}
}

// стили для постоянного прижатия футера к низу страницы
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
// стили для постоянного прижатия футера к низу страницы

button {
	border: 0;
	cursor: pointer;
	background-color: transparent;
}
input {
	border: 0;
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}
