// Корзина
.cart-header {
	// .cart-header__icon
	&__icon {
		color: #262f56;
			font-size: 24px;
			transition: color 0.3s ease 0s;
			position: relative;
			display: block;
			@media (any-hover: hover) {
				&:hover {
					color: $orangeColor;
				}
			}
			span {
				position: absolute;
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				top: -10px;
				right: -10px;
            border-radius: 50%;
				background-color: $orangeColor;
				color: #ffffff;
				font-size: 12px;
			}
	}
	// .cart-header__body
	&__body {
		background: #818186;
		border-radius: 10px;
		border: 1px solid #e0e0e0;
		position: absolute;
		top: 60px;
		right: 0;
		padding: 15px;
		width: 300px;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transform: translate(0px, 20px);
		transition: all 0.3s ease 0s;
		._active & {
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0px);
		}
		@media (max-width: $md2+px) {
			top: 50px;
		}
		@media (max-width: $md3+px) {
			position: fixed;
			top: 50px;
			left: 0;
			width: 100%;
		}
	}
	// .cart-header__list
	&__list {
	}
}
.cart-list {
	overflow: auto;
	max-height: 200px;
	// cart-list__image
	&__image {
       flex: 0 0 100px;
		 height: 100px;
	}
	// cart-list__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 0 0 10px;
	}
	// cart-list__title
	&__title {
		color: inherit;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		margin: 0 0 5px/16px * 1em 0px;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColor;
			}
		}
	}
	// cart-list__quantity
	&__quantity {
		margin: 0 0 5px/14px * 1em 0px;
		font-size: 14px;
	}
	// cart-list__delete
	&__delete {
		color:#c00505e1;
		font-size: 15px;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// cart-list__item
	&__item {
		display: flex ;
		align-items: flex-start;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}
}