button {
	@include no-btn;
}
// стили перекрытия изображения летящего в корзину
._flyImage.item-product__image {
	opacity: 1;
	position: fixed;
	z-index: 100;
	transition: all 1s ease 0s;
}
// Общие стили
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img{
		width: 0;
	   height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		}
	}
	
// классы анимированного плейсхолдера
   .input-box__header {
		display: block;
		position: relative;
		font-size: 18px;
		font-weight: 600;
		background-color: $greenColor;
	 }
	 .input-box__header input[type="text"] {
		height: 25px;
		padding: 0 5px;
		font-size: 14px;
		color: $mainColor;
	 }
   input[type="text"]:focus {
		outline: none;
	 }
	.placeholder {
		display: inline-block;
		position: absolute;
		bottom: 0px;
		left: 5px;
		transition-duration: .5s;
		z-index: -100;
		font-size: 16px;
		color: $placeholder;
	 }
	 .placeholder-show {
		display: inline-block;
		top: -16px;
		left: 45px;
		font-size: 20px;
		z-index: 100;
		color: $placeholder;
		@media (max-width: $md2+px) {
			font-size: 16px;
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	 }

.footer-title {
    @include adaptiv-value("font-size", 24, 20, 1);
	 line-height: 29 / 24 * 100%;
	 color: #000;
	 font-weight: 700;
	 white-space: nowrap; // от переноса стрроки 
}
// общий стиль ЗАГОЛОВКА
.title {
	@include adaptiv-value("font-size", 40, 24, 1);
   font-weight: 700;
	line-height: 120%;
	text-align: center;
}
// <BUTTON (a.btn)==========================
.btn {
    display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0px 15px;
	 text-align: center;
	 transition: all 0.3s ease 0s;
	 min-height: 48px;
	 // BTN WHITE
	 &__white {
      color: $mainColor;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		background-color: #fdf6f6;
		border-radius: 10px;
		@media (any-hover: hover) {
			&:hover {
				background-color: $greenColor;
				color: #ffffff;
			}
		}
	}
}
 main.main {
  	

	.swiper-pagination-bullets {
		display: flex;
		flex-wrap: wrap;
	}
	.swiper-pagination-bullet {
		cursor: pointer;
		flex: 0 0 27px;
		height: 27px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2px 0px;
		background: transparent;
		&:not(:last-child) {
			margin-right: 12px;
		}
		&::after {
			content: "";
			width: 11px;
			height: 11px;
			background: #181616;
			border-radius: 50%;
			transition: background 0.3s ease 0s;
			transform: translate(1px,1px);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 1px solid $greenColor;
			transition: transform 0.3s ease 0s;
			transform: scale(0);
		}
	}
    .swiper-pagination-bullet-active {
		 &::after {
			 background-color: $greenColor;
		 }
		 &::before {
			transform: scale(1);
		 }
	 }
}	

.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	column-gap: 8px;
}
.slider-arrow {
	pointer-events: auto;
	border-radius: 50%;
	height: 48px;
	background-color: rgba(133, 118, 110, 0.342);
	color: $greenColor;
	font-size: 12px;
	cursor: pointer;
	transition: 0.4s ease 0s;
		// .slider-arrow__prev
		&__prev {
			&::before {
				transform: rotate(90deg);
			}
		}
		// .slider-arrow__next
		&__next {
			&::before {
				transform: rotate(-90deg);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ffffff;
				background-color: rgb(38, 112, 4);
			}
		}
		&_white {
			box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
			background-color: #ffffff;
			@media (any-hover: hover) {
				&:hover {
					color: #ffffff;
					background-color: $greenColor;
			}
		}
	}
}

			

